<div class="send-message-section">
    <div class="message-contents">
        <div class="chat-skeleton">
            <div class="skeleton-1 skeleton">
                <div class="profile-picture"></div>
                <div class="profile-name">
                    <span class="one"></span>
                    <span class="two"></span>
                </div>
            </div>
            <div class="skeleton-2 skeleton">
                <div class="profile-picture"></div>
                <div class="profile-name">
                    <span class="one"></span>
                    <span class="two"></span>
                </div>
            </div>
            <div class="skeleton-3 skeleton">
                <div class="profile-picture"></div>
                <div class="profile-name">
                    <span class="one"></span>
                    <span class="two"></span>
                </div>
            </div>
            <div class="skeleton-4 skeleton">
                <div class="profile-picture"></div>
                <div class="profile-name">
                    <span class="one"></span>
                    <span class="two"></span>
                </div>
            </div>
            <div class="skeleton-5 skeleton">
                <div class="profile-picture"></div>
                <div class="profile-name">
                    <span class="one"></span>
                    <span class="two"></span>
                </div>
            </div>
            
        </div>
        <div class="message-form">
            <form action="/" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" required name="name" id="name" class="name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" required name="email" id="email" class="email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="10" class="message" required></textarea>
                </div>
                <button type="submit" class="send">Send</button>
            </form>
        </div>
    </div>
</div>