<div class="links">
    <h3>Follow Me</h3>
    <ul>
        <li><a href="#"><img src="/images/social_icons/github.svg" alt="Facebook"></a></li>
        <li><a href="#"><img src="/images/social_icons/linkedin.svg" alt="Facebook"></a></li>
        <li><a href="#"><img src="/images/social_icons/instagram.svg" alt="Facebook"></a></li>
        <li><a href="#"><img src="/images/social_icons/facebook.svg" alt="Facebook"></a></li>
        <li><a href="#"><img src="/images/social_icons/twitter.svg" alt="Facebook"></a></li>
    </ul>
</div>