<nav class="navbar" id="navbar">
    <a href="/" class="brand-logo" id="brand-logo">
        <img src="/images/developer.svg" alt="Developer">
        <span>.rizwan</span>
    </a>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#">About</a></li>
    </ul>
    <div class="nav-side-contents">
        <a href="#">
            <img src="/images/phone.svg" alt="Phone">
            <span>+918979074004</span>
        </a>
        <a href="#">
            <img src="/images/mail.svg" alt="Email">
            <span>iam@morizwan.in</span>
        </a>
        <button class="login button">Login</button>
    </div>
</nav>