<div class="about-me">
    <h1>My journey of becoming a self taught Fullstack Developer</h1>
    <div class="body">
        <h3>Hi, I am Mohd Rizwan and I am going to tell you about my journey of becoming a self taught Fullstack Developer.</h3>
        <p>
            I used to live in a village, and for me, moving to a city was so tough and hesitated. Aftar completing my intermediate education, I joined the university (Teerthankar Mahaveer University) to study computer scince. I started my course in 2012. I started taking classes. The days continued passing, I could not manage myself to live in the atmosphare of the University and I started missing the classes. I also was hesited to sit on the front benches. I alwasy used to sit on the last benches.
        </p>
        <br>
        <p>
            I hardly completed the first and second year of the university but in the last year (2015) I could not take the sufficient classes, got detained from the exams and could not complete BCA. I never went back to the university in order to complete the course. <br><br>

            After two years in 2017, I fortunately got interested in study, found a HTML course on Youtube and started studying. I studied more than 10 hours a day. This was the course I started with <strong><a href="https://www.youtube.com/playlist?list=PL081AC329706B2953" target="_blank">HTML - thenewboston YouTube Channel.</a></strong> After learing HTML, I headed to learn <strong><a href="https://www.w3schools.com/css/" target="_blank">CSS</a></strong> and <strong><a href="https://www.w3schools.com/js/" target="_blank">JavaScript</a></strong>, then I learned <strong><a href="https://getbootstrap.com/">Bootstrap</a></strong>, <strong><a href="https://sass-lang.com/" target="_blank">SASS</a></strong>, <strong><a href="https://nodejs.org/en/" target="_blank">NodeJS</a></strong>, <strong><a href="https://expressjs.com/" target="_blank">ExpressJS</a></strong>, <strong><a href="https://www.mongodb.com/cloud/atlas/lp/try2-hterms?utm_content=rlsapostreg&utm_source=google&utm_campaign=gs_apac_rlsamulti_search_brand_dsa_atlas_desktop_rlsa_postreg&utm_term=&utm_medium=cpc_paid_search&utm_ad=&utm_ad_campaign_id=14412646494&adgroup=131761134852&gclid=Cj0KCQjwg_iTBhDrARIsAD3Ib5j69Tb6mstN3WOo5peuPIeoo1S2y63mHs1l87aTLyt5Rr1kuOpp_nsaAgeIEALw_wcB" target="_blank">MongoDB</a></strong>, <strong><a href="https://git-scm.com/" target="_blank">Git</a> & <a href="https://github.com/" target="_blank">Github</a></strong>, and etc.
            <br><br>
        </p>
        <p>
            <blockquote>
                <cite> This is how I became a self tought Fullstack Developer. This is my personal Portfolio and I will showcase my work here. Please take a look and give me an opportunity to work with your team.</cite>
            </blockquote>
         </p>
         <a href="#" class="jump-to-my-work">
             <span>Take a look at my work</span>
             <img src="/images/chevron_right.svg" alt="">
         </a>
         <div class="myworks">
            <a href="/movies/new" target="_blank">Movies Project</a>
         </div>
    </div>
</div>