<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title><%- title %></title>
</head>
<body>
    <%- include('partials/navbar.ejs')%>
    <div class="blog" id="blog">
        <div class="articles">
            <div class="article">
                <div class="card">
                    <div class="card-header">
                        <img src="https://picsum.photos/id/237/200/300" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore modi repellendus neque explicabo quis. Quia fuga cupiditate impedit minus, atque saepe, beatae aperiam repellat fugit aspernatur nulla, quas quidem.</p>
                        <span>time</span><span>date</span>
                        <button>Comments (25)</button>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="card">
                    <div class="card-header">
                        <img src="https://picsum.photos/seed/picsum/200/300" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore modi repellendus neque explicabo quis. Quia fuga cupiditate impedit minus, atque saepe, beatae aperiam repellat fugit aspernatur nulla, quas quidem.</p>
                        <span>time</span><span>date</span>
                        <button>Comments (25)</button>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="card">
                    <div class="card-header">
                        <img src="https://picsum.photos/200/300?grayscale" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore modi repellendus neque explicabo quis. Quia fuga cupiditate impedit minus, atque saepe, beatae aperiam repellat fugit aspernatur nulla, quas quidem.</p>
                        <span>time</span><span>date</span>
                        <button>Comments (25)</button>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="card">
                    <div class="card-header">
                        <img src="https://picsum.photos/200/300/?blur" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore modi repellendus neque explicabo quis. Quia fuga cupiditate impedit minus, atque saepe, beatae aperiam repellat fugit aspernatur nulla, quas quidem.</p>
                        <span>time</span><span>date</span>
                        <button>Comments (25)</button>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="card">
                    <div class="card-header">
                        <img src="https://picsum.photos/id/870/200/300?grayscale&blur=2" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore modi repellendus neque explicabo quis. Quia fuga cupiditate impedit minus, atque saepe, beatae aperiam repellat fugit aspernatur nulla, quas quidem.</p>
                        <span>time</span><span>date</span>
                        <button>Comments (25)</button>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="card">
                    <div class="card-header">
                        <img src="https://picsum.photos/id/1050/367/267" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore modi repellendus neque explicabo quis. Quia fuga cupiditate impedit minus, atque saepe, beatae aperiam repellat fugit aspernatur nulla, quas quidem.</p>
                        <span>time</span><span>date</span>
                        <button>Comments (25)</button>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="card">
                    <div class="card-header">
                        <img src="https://picsum.photos/id/101/367/267" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore modi repellendus neque explicabo quis. Quia fuga cupiditate impedit minus, atque saepe, beatae aperiam repellat fugit aspernatur nulla, quas quidem.</p>
                        <span>time</span><span>date</span>
                        <button>Comments (25)</button>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="card">
                    <div class="card-header">
                        <img src="https://picsum.photos/id/1003/367/267" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore modi repellendus neque explicabo quis. Quia fuga cupiditate impedit minus, atque saepe, beatae aperiam repellat fugit aspernatur nulla, quas quidem.</p>
                        <span>time</span><span>date</span>
                        <button>Comments (25)</button>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="card">
                    <div class="card-header">
                        <img src="https://picsum.photos/id/0/367/267" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore modi repellendus neque explicabo quis. Quia fuga cupiditate impedit minus, atque saepe, beatae aperiam repellat fugit aspernatur nulla, quas quidem.</p>
                        <span>time</span><span>date</span>
                        <button>Comments (25)</button>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="card">
                    <div class="card-header">
                        <img src="https://picsum.photos/id/1/367/267" alt="">
                    </div>
                    <div class="card-body">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore modi repellendus neque explicabo quis. Quia fuga cupiditate impedit minus, atque saepe, beatae aperiam repellat fugit aspernatur nulla, quas quidem.</p>
                        <span>time</span><span>date</span>
                        <button>Comments (25)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>